body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	background-color :#FFC0CB;
	background-image: url('images_for_portfolio/background2.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	text-align: center;

h1 {
	font-size: 1.3em;
	text-align: center;
}


tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}



